.text-field {
  position: relative;
}

.text-field label {
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 10px;
  padding: 1px 5px;
  font-size: 12px;
  transform: translateY(-50%);
  color: #fff;
}

.text-field input {
  background-color: 0;
  outline: none;
}

.MuiDialog-paperWidthSm {
  cursor: pointer;
  max-width: 480px !important;
  width: 100%;
  color: #fff !important;
}
