.text-field {
  position: relative;
}

.text-field label {
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 10px;
  padding: 1px 5px;
  font-size: 12px;
  transform: translateY(-50%);
  color: #fff;
}

.text-field input {
  background-color: 0;
  outline: none;
}

.MuiDialog-paperWidthSm {
  cursor: pointer;
  max-width: 480px !important;
  width: 100%;
  color: #fff !important;
}

// pagaination
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  border: 1px solid;
  max-width: 300px;
  margin: 30px auto 0px;
  padding: 10px 0;
  border-radius: 100rem;
  gap: 0 15px;
}

.pagination .selected {
  color: #287be5;
}

// text clamp 2
.custom-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

//
.button {
  cursor: pointer;
  display: inline-block;
  &-share {
    max-width: 160px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 16px;
    padding: 10px 0;
    border-radius: 100rem;
    &--fb {
      background-image: linear-gradient(75deg, #2f80ed, #00aeef);
    }
    &--link {
      background-image: linear-gradient(
        75deg,
        rgba(45, 170, 237),
        rgba(149, 217, 109, 0.8)
      );
    }
  }
}
