.music {
  &-item {
    cursor: pointer;
    border-radius: 10px;
    &:hover .music-image img {
      transform: scale(1.1);
    }
    &:hover .music-icon {
      opacity: 1;
      visibility: visible;
    }
    &:hover .music-overlay {
      opacity: 1;
      visibility: visible;
    }
  }
  &-image img {
    overflow: hidden;
    transition: all 0.25s linear;
  }
  &-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
  }
  &-icon {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
  }
  &-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
  &-image--author:not(:first-child) {
    margin-left: -10px;
  }
  &-nct {
    background: #f1f2b5; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #135058,
      #f1f2b5
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #135058,
      #f1f2b5
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
